<div class="container-fluid">
    <!-- Login Page Body -->
    <div class="row">
        <!-- Login Page Left -->
        <div class="col-md-6">
            <div style="padding: 112px 0 16px; margin: 25%;">
                <h1 style="color: blue; font-size: 70px;"><b>facebook</b></h1>
                <p style="font-size: 30px;">Facebook helps you connect and share with the people in your life.</p>
            </div>
        </div>

        <!-- Login Page form -->
        <div class="col-md-6">
            <div class="col-md-6" style="background-color: white; margin: 25%; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);">
                <form action="">
                    <div style="padding: 12px;">
                        <input type="text" placeholder="Email address or phone number" aria-label="Email address or phone number" name="email" id="email" autofocus="1" style="font-size: 17px; padding: 14px 16px; width: 100%; border-radius: 5px; border: transparent;">
                    </div>
                    <div style="padding: 12px;">
                        <input type="password" placeholder="Password" aria-label="Password" name="password" id="password" style="font-size: 17px; padding: 14px 16px; width: 100%; border-radius: 5px; border: transparent;">
                    </div>
                    <div style="padding: 12px;">
                        <button type="submit" value="1" class="btn btn-primary" style="font-size: 15px; padding: 14px 16px; width: 100%; border-radius: 5px;"><b>Log in</b></button>
                    </div>
                    <div style="text-align: center;">
                        <a href="" style="font-size: 15px;">Forgotten Password?</a>
                    </div>
                    <hr>
                    <div style="text-align: center; padding: 12px;">
                        <button class="btn btn-success" onclick="createUser()" style="font-size: 15px; border-radius: 5px;" routerLink="register">Create New Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Login Page Footer -->
<div class="container-fluid">
    <div class="row" style="background-color: white; padding: 12px;">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="text-align: center; padding: 6px;">
            <b>Language  </b>
            <select name="" id="">
                <option value="English UK">English UK</option>
                <option value="English USA">English USA</option>
            </select>
            <hr>
            copyright IsDB © 2023
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>