<div class="" style="background-color: aliceblue;">
    <div class="row">
        <div class="col-md-6" style="vertical-align: middle;">
            <div style="margin-top: 25%; margin-bottom: 25%; margin-left: 50%;">
                <h1 style="color: #7393eb; font-size: 70px;"><b>facebook</b></h1>
                <p style="font-size: 30px;">Facebook helps you connect and share with the people in your life.</p>
            </div>
        </div>
        <div class="col-md-6" style="vertical-align: middle;">
            <div class="col-md-6" style="background-color: white; margin-top: 25%; margin-bottom: 25%;">
                <form action="">
                    <div style="padding: 12px;">
                        <input type="text" placeholder="Email address or phone number" aria-label="Email address or phone number" name="email" id="email" autofocus="1" style="font-size: 17px; padding: 14px 16px; width: 100%; border-radius: 5px;">
                    </div>
                    <div style="padding: 12px;">
                        <input type="password" placeholder="Password" aria-label="Password" name="password" id="password" style="font-size: 17px; padding: 14px 16px; width: 100%; border-radius: 5px;">
                    </div>
                    <div style="padding: 12px;">
                        <button type="submit" value="1" class="btn btn-primary" style="font-size: 25px; padding: 14px 16px; width: 100%; border-radius: 5px;"><b>Log in</b></button>
                    </div>
                    <div style="text-align: center;">
                        <a href="" style="font-size: 20px;">Forgotten Password?</a>
                    </div>
                    <hr>
                    <div style="text-align: center; padding: 6px;">
                        <button class="btn btn-success" style="font-size: 25px; border-radius: 5px;">Create New Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="text-align: center; padding: 6px;">
            <b>Language  </b>
            <select name="" id="">
                <option value="English UK">English UK</option>
                <option value="English USA">English USA</option>
            </select>
            <hr>
            copyright IDB © 2023
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>