<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-transparent">User Profile</button><br>
            <button class="btn btn-transparent">Friends</button><br>
            <button class="btn btn-transparent">Memories</button><br>
            <button class="btn btn-transparent">Groups</button><br>
            <button class="btn btn-transparent">Most Recent</button><br>
            <button class="btn btn-transparent">Marketplace</button><br>
            <button class="btn btn-transparent">Watch</button><br>
            <button class="btn btn-transparent">Saved</button><br>
            <button class="btn btn-transparent">Pages</button><br>
            <button class="btn btn-transparent">Events</button><br>
            <button class="btn btn-transparent">Favorite</button><br>
            <button class="btn btn-transparent">See More</button>
        </div>

        <div class="col-md-4">
            <div style="border: 1px solid; border-radius: 5px; padding: 12px;">
                <div>
                    <textarea name="" id="" cols="" rows="" placeholder="what's on your mind?"  style="font-size: 17px; padding: 14px 16px; width: 100%; border-radius: 10px;"></textarea>
                </div>
                <hr>
                <div style="text-align: center;">
                    <button class="btn btn-transparent">Live video</button>
                    <button class="btn btn-transparent">Photo/video</button>
                    <button class="btn btn-transparent">Feeling/activity</button>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 30px;">
            <div>
                <h3>Friend Requests</h3>
                <a href="">See All</a>
                <h6>Abu Yusuf Maruf</h6>
                <button class="btn btn-primary m-3">Confirm</button>
                <button class="btn btn-dark">Delete</button>
            </div>
            <hr>
            <div>
                <h3>Birthdays</h3>
                <p>Abu Yusuf Maruf have birthday today.</p>
            </div>
            <hr>
            <div>
                <h3>Contacts</h3>
                <button class="btn btn-transparent">Mohymenul Moshi</button><br>
                <button class="btn btn-transparent">Khairul Islam Zibon</button><br>
                <button class="btn btn-transparent">Shohanur Rahman Shohan</button><br>
                <button class="btn btn-transparent">Sumaiya Ushnata</button><br>
                <button class="btn btn-transparent">Minhazul Islam</button><br>
                <button class="btn btn-transparent">Rabiul Islam</button><br>
                <button class="btn btn-transparent">Nazmul Islam</button><br>
                <button class="btn btn-transparent">Mahbur Rahman</button><br>
                <button class="btn btn-transparent">Mazharul Islam</button><br>
                <button class="btn btn-transparent">Din Islam</button><br>
                <button class="btn btn-transparent">Enamul Haque</button><br>
                <button class="btn btn-transparent">Mamun Ahamed</button>
            </div>
        </div>
    </div>
</div>
