<div class="container-fluid">
    <!-- home header -->
    <div>        
          <div class="toolbar" role="banner" style="position: fixed;">
            <img width="50px" height="50px" alt="fb_icon" src="../../../assets/images/fb_icon.png"
            />
            <span><a routerLink="../home" style="text-decoration: none; color: white;"><h3>facebook</h3></a></span>
            <span style="padding-left: 10px;"><input style="font-size: 15px; padding: 14px 16px; width: 200px; border-radius: 5px; border: transparent" type="text" placeholder="search people, page, group" aria-label="search people, page, group"></span>
              <div class="spacer"></div>
              <button class="btn btn-transparent" routerLink="../home"><i class="fa fa-home"><b> Home</b></i></button>
              <button class="btn btn-transparent"><i class="fa fa-play"><b> Watch</b></i></button>
              <button class="btn btn-transparent"><i class="fa fa-shopping-basket"><b> Marketplace</b></i></button>
              <button class="btn btn-transparent"><i class="fa fa-users"><b> Group</b></i></button>
              <button class="btn btn-transparent"><i class="fa fa-gamepad"><b> Games</b></i></button>
        
              <div class="spacer"></div>
              <button class="btn btn-transparent"><i class="fa fa-bars"><b> Menu</b></i></button>
              <button class="btn btn-transparent" routerLink="../message"><i class="fa fa-comment"><b> Message</b></i></button>
              <button class="btn btn-transparent" routerLink="../notification"><i class="fa fa-bell"><b> Notification</b></i></button>
              <button class="btn btn-transparent"><i class="fa fa-cog"><b> Account</b></i></button>
          </div>
    </div>

    <!-- home body -->
    <div style="margin-top: 50px;">
        <div class="row">
            <!-- home body nav -->
            <div class="col-md-3">
                <div style="margin-top: 30px; padding: 20px; padding-top: 0px; position: fixed; overflow-y:scroll; height:500px; width: 400px;">
                    <div style=" background-color: white; margin: 5px;">
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: transparent; text-align: left;" routerLink="../timeline"><b>Timeline</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../friends"><b>Friends</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../memories"><b>Memories</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../groups"><b>Groups</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../mostrecent"><b>Most Recent</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../marketplace"><b>Marketplace</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../watch"><b>Watch</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../saved"><b>Saved</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../pages"><b>Pages</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../events"><b>Events</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../favorite"><b>Favorite</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;"><b>See More</b></button>
                    </div>
                </div>
            </div>

            <!-- home body center -->
            <div class="col-md-6">
                <div style="margin: 5px; padding: 20px;">
                    <div style="border: 1px solid; border-radius: 5px; padding: 12px; background-color: white;">
                        <div>
                            <textarea name="" id="" cols="" rows="" placeholder="what's on your mind?"  style="font-size: 17px; padding: 14px 16px; width: 100%; border-radius: 10px;"></textarea>
                        </div>
                        <hr>
                        <div style="text-align: left;">
                            <button class="btn btn-primary" style="margin-right: 100px;">Post</button>
                            <button class="btn btn-transparent">Live video</button>
                            <button class="btn btn-transparent">Photo/video</button>
                            <button class="btn btn-transparent">Feeling/activity</button>
                        </div>
                        
                    </div>
                    <hr>
                        <div style="border: 1px solid; border-radius: 5px; padding: 12px; background-color: white;">
                            <a href="">Mohymenul Moshi</a>
                            <p>
                                The Saudi government has announced that the cost of the comprehensive insurance for foreign Umrah performers has been reduced by 63 percent.

                                The Ministry of Hajj and Umrah of KSA has cut the cost from SR 235 to SR 87 with effect from January 10, reports Saudi Gazette.

                                The insurance policy for Umrah is a unified policy that is covered by those who perform Umrah from different Muslim countries of the world including Bangladesh.
                                It is included in the visa procedures and covers emergency cases such as treatment, admission, hospitalization, pregnancy, emergency childbirth, emergency dental cases, traffic accident injuries, dialysis cases, and internal and external medical evacuation.

                                It also covers general cases such as accidental permanent total disability, cases of death and death due to natural disasters, returning the body of the deceased to his country, and blood money issued by a court ruling. It also includes covers for flight delay compensation and flight cancellation compensation, it said.

                                The said that the insurance coverage period is 90 days, starting from the day of entering the KSA, and the scope of its coverage is only within Saudi Arabia.

                                Intending Umrah performers can visit the website of the Comprehensive Insurance Program for the Guests of Rahman to view the Umrah insurance policy, verify its validity, and know services providers.
                            </p>
                            <hr>
                            <div>
                                <input type="button" value="Like">
                                <input type="button" value="Comment">
                                <input type="button" value="Share">
                            </div>
                        </div>
                        <br>
                        <div style="border: 1px solid; border-radius: 5px; padding: 12px; background-color: white;">
                            <a href="">Khairul Islam Zibon</a>
                            <p>
                                More than 3,500 desperate Rohingyas attempted deadly sea crossings in 39 boats in the Andaman Sea and the Bay of Bengal in 2022, according to the latest data from UNHCR, the UN Refugee Agency.

                                This represents a 360 per cent increase on the year before when some 700 people made similar journeys, UNHCR spokesperson Shabia Mantoo said at a press briefing in Geneva on Tuesday (Jan 17).

                                In the absence of a comprehensive regional response to address these perilous maritime movements, UNHCR warns that more people will die on the high seas, under the watch of many coastal States.
                                UNHCR has recorded an alarming rise in the death toll. At least 348 individuals died or went missing at sea in 2022, making it one of the deadliest years since 2014.

                                Some 3,040 individuals who undertook the sea journey disembarked in 2022, primarily in Myanmar, Malaysia, Indonesia and Bangladesh. Nearly 45 per cent of those who disembarked were women and children.

                                In the last two months of 2022, four boats carrying over 450 Rohingya disembarked in Aceh, Indonesia. One boat carrying over 100 Rohingya disembarked in Sri Lanka. One boat is feared to have sunk in early December with approximately 180 individuals on board. Several boats that departed in December remained at sea as of the end of the year.

                                Calls by UNHCR to maritime authorities in the region to rescue and disembark people in distress have gone unheeded with many boats adrift for weeks.

                                Most boats departed from Myanmar and Bangladesh, highlighting the growing sense of desperation amongst Rohingya in those two countries, the UNHCR Spokesperson said.

                                Those who have disembarked report that they undertook these dangerous sea journeys in an effort to find protection, security, family reunification, and livelihoods in other countries. Among them are victims of trafficking, unaccompanied and separated children, and survivors of sexual- and gender-based violence.
                                The current crisis in the Bay of Bengal and the Andaman Sea is a crisis of solidarity. The Bali Process, a forum for policy dialogue, information sharing and cooperation to address people smuggling, human trafficking and related transnational crime, will hold its 8th Ministerial meeting in February.

                                UNHCR repeats its call for prompt search and rescue and timely disembarkation in a place of safety, and for support to countries where Rohingya refugees are disembarked. We call on countries to redouble efforts to prevent human smuggling and trafficking.There is also a need for humanitarian responsibility to be more evenly distributed among countries in the region to ensure protection responses are predictable, equitable, and sustainable.

                                The region and the international community need to support efforts to address the root causes of displacement in Myanmar. Until these are resolved, refugees will continue to undertake dangerous journeys in search of safety.
                            </p>
                            <hr>
                            <div>
                                <input type="button" value="Like">
                                <input type="button" value="Comment">
                                <input type="button" value="Share">
                            </div>
                        </div>
                </div>
            </div>

            <!-- home body right -->
            <div class="col-md-3" style="">
                <div style="padding: 20px; margin: 5px;">
                    <div style="overflow-y:scroll; height: 500px; position: fixed;">
                        <div style="background-color: white; padding: 12px;">
                            <span style="margin-right: 20px; font-size: 25px;"><b>Friend Requests</b></span>
                            <a href="" style="font-size: 20px;">See All</a>
                            <h6>Abu Yusuf Maruf</h6>
                            <button class="btn btn-primary m-3">Confirm</button>
                            <button class="btn btn-dark">Delete</button>
                        </div>
                        <hr>
                        <div style="background-color: white; padding: 12px;">
                            <h3>Birthdays</h3>
                            <p>Abu Yusuf Maruf have birthday today.</p>
                        </div>
                        <hr>
                        <div style="background-color: white; padding: 12px;">
                            <h3>Contacts</h3>
                            <button class="btn btn-transparent">Mohymenul Moshi</button><br>
                            <button class="btn btn-transparent">Khairul Islam Zibon</button><br>
                            <button class="btn btn-transparent">Shohanur Rahman Shohan</button><br>
                            <button class="btn btn-transparent">Sumaiya Ushnata</button><br>
                            <button class="btn btn-transparent">Minhazul Islam</button><br>
                            <button class="btn btn-transparent">Rabiul Islam</button><br>
                            <button class="btn btn-transparent">Nazmul Islam</button><br>
                            <button class="btn btn-transparent">Mahbur Rahman</button><br>
                            <button class="btn btn-transparent">Mazharul Islam</button><br>
                            <button class="btn btn-transparent">Din Islam</button><br>
                            <button class="btn btn-transparent">Enamul Haque</button><br>
                            <button class="btn btn-transparent">Mamun Ahamed</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
