<div class="container-fluid">
    <!-- home header -->
    <div>        
          <div class="toolbar" role="banner" style="position: fixed;">
            <!-- <img width="50px" height="50px" alt="fb_icon" src="../../../assets/images/fb_icon.png"
            /> -->
            <span><a routerLink="../home" style="text-decoration: none; color: white;"><h3>socialbook</h3></a></span>
            <span style="padding-left: 10px;"><input style="font-size: 15px; padding: 14px 16px; width: 200px; border-radius: 5px; border: transparent" type="text" placeholder="search people, page, group" aria-label="search people, page, group"></span>
              <div class="spacer"></div>
              <button class="btn btn-transparent" routerLink="../home"><i class="fa fa-home"><b> Home</b></i></button>
              <button class="btn btn-transparent"><i class="fa fa-play"><b> Watch</b></i></button>
              <button class="btn btn-transparent"><i class="fa fa-shopping-basket"><b> Marketplace</b></i></button>
              <button class="btn btn-transparent"><i class="fa fa-users"><b> Group</b></i></button>
              <button class="btn btn-transparent"><i class="fa fa-gamepad"><b> Games</b></i></button>
        
              <div class="spacer"></div>
              <button class="btn btn-transparent"><i class="fa fa-bars"><b> Menu</b></i></button>
              <button class="btn btn-transparent" routerLink="../message"><i class="fa fa-comment"><b> Message</b></i></button>
              <button class="btn btn-transparent" routerLink="../notification"><i class="fa fa-bell"><b> Notification</b></i></button>
              <button class="btn btn-transparent"><i class="fa fa-cog"><b> Account</b></i></button>
              <button class="btn btn-transparent" routerLink="../login"><i class="fa fa-sign-out"><b> Logout</b></i></button>
          </div>
    </div>

    <!-- home body -->
    <div style="margin-top: 50px;">
        <div class="row">
            <!-- home body nav -->
            <div class="col-md-3">
                <div style="margin-top: 30px; padding: 20px; padding-top: 0px; position: fixed; overflow-y:scroll; height:500px;">
                    <div style=" background-color: white; margin: 5px;">
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: transparent; text-align: left;" routerLink="../timeline"><b>Timeline</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../friends"><b>Friends</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../memories"><b>Memories</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../groups"><b>Groups</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../mostrecent"><b>Most Recent</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../marketplace"><b>Marketplace</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../watch"><b>Watch</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../saved"><b>Saved</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../pages"><b>Pages</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../events"><b>Events</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;" routerLink="../favorite"><b>Favorite</b></button><br>
                        <button class="btn btn-transparent" style="font-size: 20px; padding: 14px 16px; width: 100%; border-radius: 5px; border: hidden; text-align: left;"><b>See More</b></button>
                    </div>
                </div>
            </div>

            <!-- home body center -->
            <div class="col-md-6">
                <div style="margin: 5px; padding: 20px;">
                    <form [formGroup]="homeForm" (ngSubmit)="postSubmit()">
                        <div  style="border: 1px solid; border-radius: 5px; padding: 12px; background-color: white;">
                            <div>
                                <input id="id" type="text" hidden formControlName="postId"/>
                                <textarea name="" id="" cols="" rows="" placeholder="what's on your mind?" formControlName="postBody" style="font-size: 17px; padding: 14px 16px; width: 100%; border-radius: 10px;"></textarea>
                            </div>
                            <hr>
                            <div style="text-align: left;">
                                <button class="btn btn-primary" style="margin-right: 100px;">Post</button>
                                <button class="btn btn-transparent">Live video</button>
                                <button class="btn btn-transparent">Photo/video</button>
                                <button class="btn btn-transparent">Feeling/activity</button>
                            </div>
                            
                        </div>
                    </form>
                    <hr>
                        
                        <br>
                        <div *ngFor="let post of posts">
                            <div style="border: 1px solid; border-radius: 5px; padding: 12px; background-color: white;">
                                <a href="" style="text-decoration: none;">{{userName}}&nbsp;{{post.userName}}</a>  {{post.createDate}} {{post.createTime}}
                                <a routerLink="../home" (click)="deletePost(post.postId)" style="margin-left: 650px;">Delete</a>
                                <p>
                                    {{post.postBody}}
                                </p>
                                <hr>
                                <div>
                                    <input type="button" [ngStyle]="{'background-color': btnColor}" (click)="btnClorChamge(post.postId)" value="Like" style="margin-right: 10px;">
                                    <input  type="button" value="Comment" style="margin-right: 10px;">
                                    <input type="button" value="Share"><br><br>

                                    <div>
                                        <form [formGroup]="commentForm" (ngSubmit)="commentSubmit()">
                                            <div>
                                                <input id="id" type="text" hidden formControlName="commentId"/>
                                                <textarea name="" id="" cols="5" rows="1" placeholder="write a comment" formControlName="commentBody" style="font-size: 17px; padding: 14px 16px; width: 70%; border-radius: 10px;"></textarea><br>
                                                <button class="btn btn-primary" style="margin-right: 100px;">Comment</button>
                                            </div>
                                        </form>
                                            
                                            <div class="col-md-12 row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-11" *ngFor="let comment of comments">
                                                    <br><hr>
                                                    <a href="" style="text-decoration: none;">{{comment.userName}}</a> {{comment.createDate}} {{comment.createTime}}
                                                    
                                                    <p>
                                                    {{comment.commentBody}}
                                                    </p>
                                                    <hr>
                                                    <input type="button" [ngStyle]="{'background-color': btnColor2}" (click)="cmntLike(comment.commentId)" value="Like" style="margin-right: 10px;">
                                                    <input  type="button" value="Replay" style="margin-right: 10px;"><br><br>
    
                                                    <form [formGroup]="subcommentForm" (ngSubmit)="replaySubmit()">
                                                        <div>
                                                            <input id="id" type="text" hidden formControlName="subCommentId"/>
                                                            <textarea name="" id="" cols="5" rows="1" placeholder="write a comment" formControlName="commentBody" style="font-size: 17px; padding: 14px 16px; width: 70%; border-radius: 10px;"></textarea><br>
                                                            <button class="btn btn-primary" style="margin-right: 100px;">Replay</button>
                                                        </div>
                                                    </form>
                                                    
                                                    <div class="col-md-12 row">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-11" *ngFor="let subcmnt of subComment">
                                                            <br><hr>
                                                            <a href="" style="text-decoration: none;">{{subcmnt.userName}}</a>  {{subcmnt.createDate}}  {{subcmnt.createTime}}
                                                        <p>
                                                        {{subcmnt.commentBody}}
                                                        </p>
                                                        <hr>
                                                        <input type="button" [ngStyle]="{'background-color': btnColor3}" (click)="subCmntLike(subcmnt.subCommentId)" value="Like" style="margin-right: 10px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div> <br>
                        </div>
                </div>
            </div>

            <!-- home body right -->
            <div class="col-md-3">
                <div style="padding: 20px; margin: 5px;">
                    <div style="overflow-y:scroll; height: 500px; position: fixed;">
                        <div style="background-color: white; padding: 12px;">
                            <span style="margin-right: 20px; font-size: 25px;"><b>Friend Requests</b></span>
                            <a href="" style="font-size: 20px;">See All</a>
                            <h6>Abu Yusuf Maruf</h6>
                            <button class="btn btn-primary m-3">Confirm</button>
                            <button class="btn btn-dark">Delete</button>
                        </div>
                        <hr>
                        <div style="background-color: white; padding: 12px;">
                            <h3>Birthdays</h3>
                            <p>Abu Yusuf Maruf have birthday today.</p>
                        </div>
                        <hr>
                        <div style="background-color: white; padding: 12px;">
                            <h3>Contacts</h3>
                            <button class="btn btn-transparent">Mohymenul Moshi</button><br>
                            <button class="btn btn-transparent">Khairul Islam Zibon</button><br>
                            <button class="btn btn-transparent">Shohanur Rahman Shohan</button><br>
                            <button class="btn btn-transparent">Sumaiya Ushnata</button><br>
                            <button class="btn btn-transparent">Minhazul Islam</button><br>
                            <button class="btn btn-transparent">Rabiul Islam</button><br>
                            <button class="btn btn-transparent">Nazmul Islam</button><br>
                            <button class="btn btn-transparent">Mahbur Rahman</button><br>
                            <button class="btn btn-transparent">Mazharul Islam</button><br>
                            <button class="btn btn-transparent">Din Islam</button><br>
                            <button class="btn btn-transparent">Enamul Haque</button><br>
                            <button class="btn btn-transparent">Mamun Ahamed</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
