<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>

        <!-- Signup Body -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="border-radius: 10px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); margin-top: 5%;">
            <div>
                <h1>Sign Up</h1>
                <p>It's quick and easy.</p>
            </div>
            <hr>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group" style="padding: 8px;">
                    <span >
                        <input formControlName="firstName" type="text" name="firstName" id="firstName" placeholder="First Name" style="font-size: 15px; padding: 10px; width: 49%; border-radius: 5px; margin-right: 10px;">
                    </span>
                    <span>
                        <input formControlName="lastName" type="text" name="lastName" id="lastName" placeholder="Last Name" style="font-size: 15px; padding: 10px; width: 49%; border-radius: 5px;">
                    </span>
                </div>
                <div class="form-group" style="padding: 8px;">
                    <input formControlName="email" type="text" name="email" id="email" placeholder="Mobile number or email address" style="font-size: 15px; padding: 10px; width: 100%; border-radius: 5px;">
                </div>
                <div class="form-group" style="padding: 8px;">
                    <input formControlName="password" type="text" name="password" id="password" placeholder="New password" style="font-size: 15px; padding: 10px; width: 100%; border-radius: 5px;">
                </div>
                <div class="form-group" style="padding: 8px;">
                    <input formControlName="dob" type="text" name="dob" id="dob" placeholder="Date of birth" onfocus="(this.type='date')" style="font-size: 15px; padding: 10px; width: 100%; border-radius: 5px;">
                </div>
                <div class="form-group" name="gender" id="gender" style="padding: 8px;">
                    Gender:  
                    <input  formControlName="male" type="radio" name="gender" value="Male">Male
                    <input formControlName="female" type="radio" name="gender" value="Female">Female
                    <input formControlName="custom" type="radio" name="gender" value="Custom">Custom
                </div>
                <!-- <div style="padding: 8px;">
                    <p>People who use our service may have uploaded your contact information to Facebook. Learn more.</p>
                    <p>By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies Policy. You may receive SMS notifications from us and can opt out at any time.</p>
                </div> -->
                <div style="padding: 8px; text-align: center; padding: 0 32px; height: 36px; border-radius: 6px; margin-bottom: 20px;">
                    <button class="btn btn-success" >Sign Up</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
